<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'story3CSScode.css' %}"> 
        <title>WEBSITE PROFILE ZAIDAN ARIIQ</title>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

<body>
    <!-- BAGIAN NAVIGATOR BAR -->
    <nav class="navbar navbar-expand-sm" id="navigation_bar">
        <a class="navbar-brand" href="{% url 'homepage:HTMLcode' %}" id="logo_nama">
            ZSELAMAT DATANG {{ user }}
        </a>
        
        
    <!-- ISI DALAM NAVIGATION BAR -->
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:hobby' %}">HOBBY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:pendidikan' %}">PENDIDIKAN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:contact' %}">CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-judul" href="{% url 'homepage:matakuliah' %}">MATAKULIAH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-judul" href="{% url 'homepage:kegiatan' %}">KEGIATAN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="#">BOOKS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:signup' %}">SIGNUP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:signin' %}">SIGNIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:logout' %}">LOGOUT</a>
        </li>
        </ul>
  
    </nav>

    <div class="container">
        <input type="text" id="searchinput">
        <button id="searchbutton">
            Search
        </button>
        <table>
            <thead>
               <tr>
                   <th>
                       title
                   </th>
                   <th>
                        authors
                   </th>
                   <th>
                        publisher
                   </th>
                   <th>
                        publish date
                   </th>
               </tr> 
            </thead>
            <tbody id="tablebooks">

            </tbody>
        </table>
    </div>
    <script src="{% static 'books.js' %}"></script>
</body>

</html>
