<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'story3CSScode.css' %}"> 
        <title>WEBSITE PROFILE ZAIDAN ARIIQ</title>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
    </head>

<body>
    <!-- BAGIAN NAVIGATOR BAR -->
    <nav class="navbar navbar-expand-sm" id="navigation_bar">
        <a class="navbar-brand" href="#" id="logo_nama">
            SELAMAT DATANG {{ user }}
        </a>
        
        
    <!-- ISI DALAM NAVIGATION BAR -->
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:hobby' %}">HOBBY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:pendidikan' %}">PENDIDIKAN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:contact' %}">CONTACT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:matakuliah' %}">MATAKULIAH</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:kegiatan' %}">KEGIATAN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:books' %}">BOOKS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:signup' %}">SIGNUP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:signin' %}">SIGNIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:logout' %}">LOGOUT</a>
        </li>
        </ul>
  
    </nav>
  
    <!-- <div class="container"> -->
        <div class="row">
            <div class="col-sm-4">
                <img src = "{% static 'ZAIDAN.jpg' %}" alt="FOTO PRIBADI ZAIDAN" id ="foto_zaidan">
              
            </div>
            <div class="col-sm-8">
                <h1>MUHAMMAD ZAIDAN ARIIQ</h1>
                <div id="kotak_deskripsi">
                    <p>
                        HALLO!<br><br>

                        NAMA SAYA ZAIDAN ARIIQ<br>
                        BIASA DIPANGGIL DENGAN SEBUTAN ZAIDAN<br><br>

                        1906400394<br><br>

                        SAYA MERUPAKAN MAHASISWA FASILKOM UI 2019 JURUSAN ILMU KOMPUTER.DI DALAM WEB SAYA INI,KAMU BISA MENEMUKAN BERBAGAI INFORMASI SINGKAT TENTANG SAYA.<br>
                    </p>
                </div>
            </div>
            
            
        </div>
        
        <div id="accordion">
            
            <div class="accitem">
                <h3>ACTIVITY</h3>
                <button onclick="return move(this,1)">V</button>
                <button onclick="return move(this,-1)">^</button>
                

            </div>            
            <div>
              <p>
                 Aktivitas ku yang sedang aku jalankan pada saat ini yaitu,
                 menjalani masa kuliah di fasilkom UI angkatang 2019,dan juga
                 menjalani beberapa kegiatan yang ada di fakultas tersebut.
              </p>
              
            </div>
            <div class="accitem">
                <h3>ORGANITATION</h3> 
                <button onclick="return move(this,1)">V</button>
                <button onclick="return move(this,-1)">^</button>
                

            </div>        
            <div>
              <p>
                Organisasi yang pernah aku jalani yaitu mengikuti SBF fasilkom 2019 pada tahun lalu
              </p>
              
            </div>
            <div class="accitem">
                <h3>ACHIEVEMENT</h3> 
                <button onclick="return move(this,1)">V</button>
                <button onclick="return move(this,-1)">^</button>
                

            </div>        
            <div>
              <ul>
                <li>LOMBA MATEMATIKA SD</li>
                <li>LOMBA AGAMA ISLAM SD</li>
                <li>LOMBA FISIKA SMP</li>
              </ul>
              
            </div>
            <div class="accitem">
                <h3>MY EXPERIENCE STUDY IN CSUI 2019</h3> 
                <button onclick="return move(this,1)">V</button>
                <button onclick="return move(this,-1)">^</button>
                

            </div>        
            <div>
              <p>
                Penagalaman yang "experience" yang sedang aku lalui untuk sekarang
                ini yaitu menyelesaikan matkul penting dahulu.
              </p>
              

            </div>
        </div>
           



           




    <!-- untuk meng import file accordion.js ke filehtml utamanya  -->
<script src="{% static 'accordion1.js' %}"></script>
</body>

</html>
