<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'story3CSScode.css' %}"> 
        <title>WEBSITE PROFILE ZAIDAN ARIIQ </title>
    </head>

<body>
    <!-- BAGIAN NAVIGATOR BAR -->
    <nav class="navbar navbar-expand-sm" id="navigation_bar">
        <a class="navbar-brand" href="{% url 'homepage:HTMLcode' %}" id="logo_nama">
            SELAMAT DATANG {{ user }}
        </a>
        
        
    <!-- ISI DALAM NAVIGATION BAR -->
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="#">HOBBY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:pendidikan' %}">PENDIDIKAN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:contact' %}">CONTACT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:matakuliah' %}">MATAKULIAH</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:kegiatan' %}">KEGIATAN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:books' %}">B00KS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:signup' %}">SIGNUP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:signin' %}">SIGNIN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:logout' %}">LOGOUT</a>
        </li>
        </ul>
  
    </nav>
    <!-- BAGIAN BERSEPEDA -->
    <div class="row">
        <div class="col-sm-3">
            <img src = "{% static 'CYCLING.jfif' %}" alt="FOTO PESEPEDA" id ="sepedaan">
          
        </div>
        <div class="col-sm-9">
            <div id="kotak_deskripsi_hobby1">
                <p>
                    saya merupakan orang yang cukup suka melakukan kegiatan bersepeda setiap hari.hal itu dikarenakan dapat mengisi waktu luang saya.        
                </p>
            </div>
    </div> 
    <!-- BAGIAN BISNIS -->
    <div class="row">
        <div class="col-sm-3">
            <img src = "{% static 'BUSSINESS.jpg' %}" alt="FOTO BISNIS" id ="bisnis">         
        </div>
        <div class="col-sm-9">
            <div id="kotak_deskripsi_hobby2">
                <p>
                    saya juga suka dengan hal-hal yang berbau dengan bisnis.walaupun masih dalam tahap pemula awal.Saya yakin untuk dapat mengembangkannya
                </p>
            </div>     
    </div>
    <!-- BAGIAN BERENANG-->
    <div class="row">
        <div class="col-sm-3">
            <img src = "{% static 'SWIMMING.jfif' %}" alt="FOTO PERENANG" id ="berenang">         
        </div>
        <div class="col-sm-9">
            <div id="kotak_deskripsi_hobby3">
                <p>
                    Dan terakhir yaitu berenang.hobi yang satu ini sudah lama tidak dikerjakan dikarenakan tidak lagi ada kesempatan. 
                </p>
            </div>      
    </div>            
                
    <h1></h1>
    <p></p>

</body>

</html> 
