<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'story3CSScode.css' %}"> 
        <title>WEBSITE PROFILE ZAIDAN ARIIQ</title>
    </head>

<body>
    <!-- BAGIAN NAVIGATOR BAR -->
    <nav class="navbar navbar-expand-sm" id="navigation_bar">
        <a class="navbar-brand" href="{% url 'homepage:HTMLcode' %}" id="logo_nama">
          SELAMAT DATANG {{ user }}
        </a>
        
        
    <!-- ISI DALAM NAVIGATION BAR -->
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:hobby' %}">HOBBY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:pendidikan' %}">PENDIDIKAN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="#">CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-judul" href="{% url 'homepage:matakuliah' %}">MATAKULIAH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-judul" href="{% url 'homepage:kegiatan' %}">KEGIATAN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-judul" href="{% url 'homepage:books' %}">BOOKS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-judul" href="{% url 'homepage:signup' %}">SIGNUP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-judul" href="{% url 'homepage:signin' %}">SIGNIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-judul" href="{% url 'homepage:logout' %}">LOGOUT</a>
        </li>
        </ul>
  
    </nav>
    <!-- BAGIAN LOGO KANAN-->
    <div class="row">
        <!-- BAGIAN WHATSAPP-->
        <div class="col-sm-6">
            <img src="{% static 'LOGOWHATSAPP.png' %}" alt="FOTO WHATSAPP" id="whatsapp" />
          <div id="nomor_wa">
            <p>085693711407</p>
          </div> 
        </div>

        <!-- BAGIAN LINE-->
        <div class="col-sm-6">
          <img src="{% static 'LOGOLINE.png' %}" alt="FOTO LINE" id="line" />
  
          <div id="id_line">
            <p>@zaidanariiq_</p>
          </div>
        </div>
    </div>

    <!-- BAGIAN TENGAH KOPONG -->
    <div class="row" id="kopong" >
        <div class="col-sm-12">
            
        </div>
    </div>

    <!-- BAGIAN LOGO KIRI-->
    <div class="row">
        <!-- BAGIAN FACEBOOK -->
        <div class="col-sm-6">
          <img src="{% static 'LOGOFACEBOOK.png' %}" alt="FOTO FACEBOOK" id="facebook" />
  
          <div id="nama_facebook">
            <p>Zaidan Ariiq Pane</p>
          </div>
        </div>
        <!-- BAGIAN TWITTER -->
        <div class="col-sm-6">
          <img src="{% static 'LOGOTWITTER.png' %}" alt="FOTO TWITTER" id="twitter" />
  
          <div id="id_twitter">
            <p>Zaidan Ariiq</p>
          </div>
        </div>
    </div>

</body>

</html>
