<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'story3CSScode.css' %}"> 
        <title>WEBSITE PROFILE ZAIDAN ARIIQ</title>
    </head>

<body>
    <!-- BAGIAN NAVIGATOR BAR -->
    <nav class="navbar navbar-expand-sm" id="navigation_bar">
        <a class="navbar-brand" href="{% url 'homepage:HTMLcode' %}" id="logo_nama">
          SELAMAT DATANG {{ user }}
        </a>
        
        
    <!-- ISI DALAM NAVIGATION BAR -->
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:hobby' %}">HOBBY</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="#">PENDIDIKAN</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-judul" href="{% url 'homepage:contact' %}">CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-judul" href="{% url 'homepage:matakuliah' %}">MATAKULIAH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-judul" href="{% url 'homepage:kegiatan' %}">KEGIATAN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-judul" href="{% url 'homepage:books' %}">BOOKS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-judul" href="{% url 'homepage:signup' %}">SIGNUP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-judul" href="{% url 'homepage:signin' %}">SIGNIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-judul" href="{% url 'homepage:logout' %}">LOGOUT</a>
        </li>
        </ul>
  
    </nav>
    <!-- BAGIAN FOTO LOGO-->
    <div class="row">
        <div class="col-sm-4">
          <img src="{% static 'LOGOSDNMENTENG01.svg' %}" alt="FOTO SD" id="sd" />
  
          <div id="nama_sd">
            <p>SDN MENTENG O1</p>
          </div>
        </div>
  
        <div class="col-sm-4">
          <img src="{% static 'LOGOSMPN115.png' %}" alt="FOTO SMP" id="smp" />
  
          <div id="nama_smp">
            <p>SMPN 115 TEBET</p>
          </div>
        </div>
  
        <div class="col-sm-4">
          <img src="{% static 'LOGOSMAN3JAKARTA.png' %}" alt="FOTO SMA" id="sma" />
  
          <div id="nama_sma">
            <p>SMAN 3 SETIABUDI</p>
          </div>
        </div>
      </div>

</body>

</html>
