h1 {
    color: black;
    text-align: center; 
    font-size: 50px;
    margin-top: 100px;
    margin-right:300px;
}
#foto_zaidan{
    margin-top: 200px;
    margin-left: 150px ;
    width : 480px;
    height: 800px;
}
body{
    background-color: #01ACB6;
}
#navigation_bar{
    background-color: #387490;
}
#logo_nama{
    color: black;
}
.navbar-judul{
    margin-left: 150px;
    color: black;
}
#kotak_deskripsi{
    margin-top: 80px;
    padding-left: 30px;
    font-size: 45px;
    margin-right: 400px;
    background-color: #387490;
}
#sepedaan{
    margin-top: 60px;
    width: 400px ;
    height: 300px;
}
#bisnis{
    margin-top: 60px;
    width: 400px;
    height: 300px;
}
#berenang{
    margin-top: 60px;
    width: 400px;
    height: 300px;
}
#kotak_deskripsi_hobby1{
    margin-right: 100px;
    margin-top: 80px;
    font-size: 50px;   
    background-color: #387490;
}
#kotak_deskripsi_hobby2{
    margin-right: 100px;
    margin-top: 100px;
    font-size: 50px ;  
    background-color: #387490;
}
#kotak_deskripsi_hobby3{
    margin-right: 100px;
    margin-top: 80px;
    font-size: 50px ;
    background-color: #387490;
}
#sd{
    margin-left: 200px;
    margin-top: 300px;
    width: 300px;
    height: 300px;
}
#nama_sd{
    margin-bottom: 200px;
    margin-top: 500px;
    font-size: 50px ;
    background-color: #387490;
}
#smp{
    margin-left: 200px;
    margin-top: 300px;
    width: 300px;
    height: 300px;
}
#nama_smp{
    margin-bottom: 200px;
    margin-top: 500px;
    font-size: 50px ;
    background-color: #387490;
}
#sma{
    margin-left: 200px;
    margin-top: 300px;
    width: 300px;
    height: 300px;
}
#nama_sma{
    margin-bottom: 200px;
    margin-top: 500px;
    font-size: 50px ;
    background-color: #387490;
}
#line{
    margin-left: 800px;
   
    width: 300px;
    height: 300px;
}
#id_line{
    margin-left: 800px;
    font-size: 50px ;
}
#whatsapp{
    width: 300px;;
    height: 300px;
}
#nomor_wa{
    font-size: 50px ;
}
#facebook{
    margin-top: 400px;
    width: 300px;;
    height: 300px;
}
#nama_facebook{
    font-size: 50px ;
}
#twitter{
    margin-top: 400px;
    margin-left: 800px;
    width: 300px;;
    height: 300px;
}
#id_twitter{
    margin-left: 800px;
    font-size: 50px ;
}

#accordion{
    background-color:white !important;
}